body {
  background-color: #ffffff;
  color: var(--color-neutral-8);
  font-weight: 500;
}

.transition-fast {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
